<launch>
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <param name="magnetic_declination_radians" value="0"/>
    <param name="yaw_offset" value="0"/>
    <param name="broadcast_utm_transform" value="true" />
    <param name="use_odometry_yaw" value="false" />
    <param name="magnetic_declination_radians" value="0.15708" />
    <param name="zero_altitude" value="true" />
    <remap from="/imu/data" to="/platform/imu" />
  </node>
<!--  <node pkg="robot_localization" type="ekf_localization_node" name="map_ekf" clear_params="true">
      <rosparam command="load" file="$(find magellan_core)/params/gps_ekf.yaml" />
      <remap from="/odometry/filtered" to="/odometry/filtered_gps" />
  </node> -->
</launch>
